<td class="<%= assignment_cell_class(assignment, shift_day) %>">
  <%= form_with model: assignment || ShiftAssignment.new, local: true do |f| %>
    <%= f.hidden_field :user_id, value: user.id %>
    <%= f.hidden_field :shift_day_id, value: shift_day.id %>

    <%= f.select :zone_name,
                 options_for_select(ShiftAssignment::ZONE_OPTIONS, assignment&.zone_name),
                 { include_blank: "-" },
                 class: "assignment-select" %>

    <%= f.submit "保存", class: "cell-save-button" %>
  <% end %>
</td>