<h1>シフト期間詳細</h1>

<p><strong>名称:</strong> <%= @shift_period.name %></p>
<p><strong>開始日:</strong> <%= @shift_period.start_date %></p>
<p><strong>終了日:</strong> <%= @shift_period.end_date %></p>
<p><strong>状態:</strong> <%= @shift_period.status %></p>

<h2>シフト表</h2>

<table border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th>ユーザー</th>
      <% @shift_days.each do |shift_day| %>
        <th>
          <%= shift_day.target_date.strftime("%-m/%-d") %><br>
          （<%= %w[日 月 火 水 木 金 土][shift_day.target_date.wday] %>）<br>
          <%= shift_day.day_type %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.name %></th>

        <% @shift_days.each do |shift_day| %>
          <% assignment = shift_day.assignment_for(user) %>

          <td style="vertical-align: top; min-width: 140px;">
            <% if shift_day.leave_requested_by?(user) %>
              <p>希望休</p>

            <% elsif assignment.present? %>
              <p><strong><%= work_type_label(assignment.work_type) %></strong></p>
              <% if assignment.zone.present? %>
                <p><%= assignment.zone.name %></p>
              <% end %>

            <% else %>
              <%= form_with model: [shift_day, ShiftAssignment.new], local: true do |f| %>
                <%= f.hidden_field :user_id, value: user.id %>

                <div>
                  <%= f.label :work_type, "勤務区分" %><br>
                  <%= f.select :work_type,
                      [["日勤", "day_shift"], ["夜勤", "night_shift"], ["非番", "off_duty"], ["休日", "holiday"]],
                      prompt: "選択" %>
                </div>

                <div>
                  <%= f.label :zone_id, "区" %><br>
                  <%= f.collection_select :zone_id, user.zones.order(:position), :id, :name, include_blank: "休みは未選択" %>
                </div>

                <div>
                  <%= f.submit "登録" %>
                </div>
              <% end %>

              <hr>

              <%= form_with model: [shift_day, LeaveRequest.new], local: true do |f| %>
                <%= f.hidden_field :user_id, value: user.id %>

                <div>
                  <%= f.label :note, "希望休メモ" %><br>
                  <%= f.text_field :note %>
                </div>

                <div>
                  <%= f.submit "希望休" %>
                </div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "一覧へ戻る", shift_periods_path %></p>